<div class="vt-header-wrapper">
  <div class="md-whiteframe-4dp border-bottom-blue">

    <!--Menu icon button-->
    <div class="relative">
      <md-fab-toolbar md-open="$ctrl.options.toolbarFab.isOpen"
                      ng-class="{'highest-priority': $ctrl.options.toolbarFab.isOpen}"
                      md-direction="right" flex>
        <md-fab-trigger class="align-with-text">
          <md-button aria-label="menu" class="md-fab md-primary">
            <md-icon class="material-icons">menu</md-icon>
          </md-button>
        </md-fab-trigger>
        <md-toolbar>
          <md-fab-actions class="md-toolbar-tools">
            <a aria-label="comment" class="md-button"
               ng-repeat="item in $ctrl.options.menus track by item.label"
            >
              {{::item.label}}
            </a>
        </md-toolbar>
      </md-fab-toolbar>
    </div>

    <!--Control box and user avatar-->
    <div class="md-toolbar-tools">
      <div flex flex-offset="5" layout="row">
        <!--Logo-->
        <div class="logo-container"><img ng-src="{{::$ctrl.options.logo}}" width="100"></div>

        <!--Control box-->
        <div class="controls-wrapper" flex layout="row" layout-align="center">
          <md-button ng-disabled="button.isDisabled"
                     aria-label="{{button.label}}"
                     ng-repeat="button in $ctrl.options.controlButtons track by $index"
                     ng-click="button.click(button, $ctrl.options.controlButtons)"
          >
            <md-tooltip md-direction="{{button.tooltipDirection}}"
                        class="capitalize"
            >
              {{::button.tooltip || button.label}}

            </md-tooltip>
            {{::button.label}}
          </md-button>
        </div>

        <!--User avatar and user setting control-->
        <div class="user-avatar-wrapper">
          <md-fab-speed-dial md-direction="{{$ctrl.options.userFab.direction}}"
                             md-open="$ctrl.options.userFab.isOpen"
                             ng-class="[$ctrl.options.userFab.animationMode]">
            <md-fab-trigger>
              <md-tooltip md-direction="left">User Setting</md-tooltip>
              <img ng-src="{{$ctrl.options.userFab.avatar}}" class="vt-avatar md-fab cursor-pointer">
            </md-fab-trigger>

            <md-fab-actions>
              <div ng-repeat="action in $ctrl.options.userFab.actions track by $index">
                <md-button ng-click="action.click($event)"
                           aria-label="{{::action.label}}"
                           class="md-fab md-raised md-mini">
                  <md-tooltip md-direction="{{::action.tooltipDirection}}">
                    {{::action.tooltip || action.label}}
                  </md-tooltip>
                  <md-icon md-font-icon aria-label="{{::action.label}}">{{::action.icon}}</md-icon>
                </md-button>
              </div>
            </md-fab-actions>

          </md-fab-speed-dial>
        </div><!--End #user-avatar-wrapper-->
      </div>
    </div><!--End md-toolbar-tools-->

    <!--Process Linear-->
    <md-progress-linear ng-show="$ctrl.options.showProcessBar" md-mode="indeterminate"></md-progress-linear>
  </div><!--End md-whiteframe-2dp-->
</div>